
/* Start Skills & Technologies  */
.sec-skills {
    background-color: #121212;
    color: white;
}

.skills {
    width: 100%;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}

.skills-body {
    width: 80%;
    background-color: #121212;
    padding-bottom: 60px;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.skills .skills-blocks {
    width: 340px;
    min-height: 400px;
    padding-top: 20px;
    border: 0.5px solid #6d6a6a;
    border-radius: 7px;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.skills .skills-blocks:hover {
    border: 0.3px solid #e42121;
}

.skills .skills-blocks .title {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    padding-left: 30px;
    color: rgb(235, 232, 232);
    font-weight: 500;
    font-size: 22px;
     display: flex;
    justify-content: flex-start;
    align-items: center;
}

.skills .skills-blocks:hover .title {
    color: #e42121;
}

.skills .skills-blocks .skill {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     font-weight: 500;
    font-size: 15px;
}

.skills .skills-blocks .skill:last-child {
    margin-bottom: 30px;
}

.skills .skills-blocks .skill .skill-infos {
    width: 100%;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b8b3b3;
}

.skills .skills-blocks .skill .skill-bar {
    width: 280px;
    height: 9px;
    margin: 5px 5px;
    border-radius: 4px;
    background-color: #1F1F1F;
    /* border: 0.5px solid #6d6a6a; */
    position: relative;
}

.skills .skills-blocks .skill .skill-bar .bar {
    /* width: 250px; */
    height: 9px;
    margin: 5px 5px;
    border-radius: 4px;
    background-color: #e42121;
    background: linear-gradient(90deg, #e42121 40%, #3b3131 95%);
    position: absolute;
    top: -5.5px;
    left: -5px
}
/* Start Skills & Technologies  */
